NEXT_PUBLIC_SUPABASE_URL=https://bmunmixkecnplhhqdbej.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJtdW5taXhrZWNucGxoaHFkYmVqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzA2ODk5MjQsImV4cCI6MjA4NjI2NTkyNH0.z1uD34Z7W1OK_iDK0LbTU7-5VJYVRGmCk1sglwduSco
NEXT_PUBLIC_BACKEND_URL=http://localhost:8000
NEXT_PUBLIC_BACKEND_URL=http://127.0.0.1:8000/api
