.venv/
.vscode/
__pycache__/
node_modules/
.next/
.env
scan_files/

ai-service/datasets/
ai-service/tmp_model/
ai-service/tmp_model_patent/
ai-service/tmp_model_prof_rubric/
ai-service/tmp_model_quora/
ai-service/tmp_train/
ai-service/tmp_train_patent/
ai-service/tmp_train_prof_rubric/
ai-service/tmp_train_quora/
ai-service/models/

ai-service/app/models/**/*.pt
ai-service/app/models/**/*.pth
ai-service/app/models/**/*.bin
ai-service/app/models/**/*.onnx
ai-service/app/models/**/*.ckpt
ai-service/app/models/**/*.h5
ai-service/app/models/**/*.joblib
ai-service/app/models/**/*.pkl

*.pt
*.pth
*.bin
*.onnx
*.ckpt
*.h5
*.joblib
*.pkl